.fallback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 30%;
  background-color: beige;
  margin-top: 30%;
  border-radius: 30px;
}
.fallbackContent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(194, 0, 0);
  font-weight: bolder;
  align-items: center;
}
